<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="text-align: center; font-family: Arial, serif; font-size: 14pt;">
    <div id="messages" style="margin: 0 auto; width: 60%; text-align: left; min-height: 300px;">

    </div>
    <input type="text" id="username" placeholder="Username">
    <input type="text"  id="message_in" placeholder="Message">
    <button id="sendBtn">Send</button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js" integrity="sha512-YeeA/Qxn5hYdkukScTCNNOhTrv1C2RubAGButJ1rmgQwZf/HdRaCGl+JAVkqsqaNRaYNHdheiuKKuPf9mDcqKg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            let socket = io.connect("http://192.168.1.3:5000")
            socket.on('connect', function() {
                socket.send("User connected")
            })

            socket.on('message', data => $('#messages').append($('<p>').text(data)))

            $('#sendBtn').on('click', function() {
                socket.send($('#username').val() + ': ' + $('#message_in').val())
                $('#message_in').val('')
            })
        })
    </script>
</body>
</html>